/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

* {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../img/header-bg.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body > .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: 830px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 90px;
}

.preload {
    display: block;
    height: 160px;
    background-image: url(../img/load.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    margin: auto;
}

.sound {
    height: 150px;
    background-image: url(../img/load.gif);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 0 #3A3A3A, 0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow: 0 8px 0 #3A3A3A, 0 15px 20px rgba(0,0,0,.35);
    box-shadow: 0 8px 0 #3A3A3A, 0 15px 20px rgba(0,0,0,.35);
    border-radius: 5px;
	transition: 0.1s;
	position: relative;
}

.sound.loading {
    cursor: wait!important;
}

.sound, .sound * {
    cursor: pointer;
}

.sound .title {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 -1px 1px rgba(58, 58, 58, 0.8);
    padding: 0px 15px;
    click-events: none;
    font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
	body {
		margin-top: 0px;
	}
	body > .container {
	    border-radius: 0px!important;
	    margin-bottom: 0px!important;
	}
	.sound {
    	height: 100px;
    }
    .sound .title {
		word-wrap: break-word;
		font-size: 11px;
		padding: 0px 5px;
    }
}


.sound:active {
    webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
    -webkit-box-shadow: 0 4px 0 #3A3A3A, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 4px 0 #3A3A3A, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 4px 0 #3A3A3A, 0 15px 20px rgba(0, 0, 0, .35);
}

.navbar-brand span {
	font-family: "Montserrat";
}

span.uber {
    font-weight: 100;
    text-transform: uppercase;
}

span.soundboard {
    text-transform: lowercase;
    font-weight: bold;
    font-size: 22px;
}

nav a {
    transition: 0.3s;
}

.navbar-inverse .navbar-nav>li>a {
	font-family: "Montserrat";
	font-weight: 100;
}

.options {
    top: 5px;
    right: 10px;
    position: absolute;
}

.options .fa {
    color: white;
    opacity: 0.2;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.options .badge {
    opacity: 0.2;
    transition: 0.2s;
    padding: 3px 7px 2px;
	margin-top: -2px;
}
.options .fa:hover, .options .badge:hover {
    opacity: 1;
    cursor: pointer;
}

.badge {
    background-color: white;
    color: black;
    font-family: montserrat;
}

.progression {
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    box-shadow: none;
    border-radius: 0px;
    pointer-events: none;
    background-color: #FFF;
    max-width: 100%;
}

i.fa.fa-cog, i.fa.fa-times {
    pointer-events: auto;
}